<h2 class="center amber-text text-lighten2">Välkommen att kontakta oss</h2>
<div class="divider"></div>  
<div class="row center">
    <br><br>
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
        <div class="row">
            <div class="col">
                    <h4 class="left-align ">Bohuslän Bageri</h4>
                    <p class="left-align"> <b>Adress:</b> Exempelgatan 00-000 Göteborg </p>
                    <p class="left-align"><b>Telefon: 031-0000000</b></p>
                    <h5 class="left-align">Öppetider:</h5>
                    <p class="left-align"><b>Varadagar:</b> 08:00-18:00</p>
                    <p class="left-align"><b>Lördagar:</b> 08:00-18:00</p>
                    <p class="left-align"><b>Söndagar och Helgdagar:</b> 08:00-18:00</p>
            </div>
            <div class="row">
                    <div class="row">
                        <div class="col s12 m4 l2"></div>
                        <div class="col s12 m4 l8"> <%= image_tag  "Contact_pic.jpg", class:"responsive-img "; %></div>
                        <div class="col s12 m4 l2"></div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l2"></div>
</div>
